{
  "ALCHEMY_API_KEY": "",
  "MAILCHIMP_API_KEY": "",
  "MAILCHIMP_ENDPOINT": "",
  "MAILCHIMP_LIST": "",
  "MANDRILL_API_KEY": "",
  "MANDRILL_ENDPOINT": "",
  "SLACK_API_TOKEN": "",
  "SLACK_CHANNEL_ID": "",
  "STRIPE_SECRET_KEY": "",
  "STRIPE_PUBLIC_KEY": "",
  "STRIPE_WEBHOOK_SECRET": "",
  "STYTCH_SECRET": "",
  "STYTCH_PROJECT_ID": "",
  "STYTCH_PUBLIC_TOKEN": "",
  "TATUM_API_KEY": "",
  "TATUM_API_URL": "",
  "TATUM_MATIC_SIG_ID": ""
}