[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras = ["all"], version = "*"}
dnspython = "*"
fastapi = "*"
jinja2 = "*"
ksuid = "*"
mailchimp-transactional = "*"
mangum = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = "*"
requests = "*"
stripe = "*"
pymongo = {extras = ["aws"], version = "*"}
stytch = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn app.main:app --reload"
