[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = "*"
fastapi = "*"
mangum = "*"
pydantic = {extras = ["email"], version = "*"}
pymongo = "*"
python-jose = "*"
requests = "*"
jinja2 = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn app.main:app --reload"
